### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
**/dependency-reduced-pom.xml
**/build/
**/out/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.project
.classpath
.settings/
bin/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/
*.out

### OS-specific ###
.DS_Store
Thumbs.db

### Others ###
*.swp
*.swo
*.tmp
*.bak
